<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Кодировка веб-страницы -->
  <meta charset="utf-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Главная{% endblock %}</title>
  <!-- Bootstrap CSS (Cloudflare CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous">
  <!-- jQuery (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if user.is_authenticated %}
          {% block sidebar %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
              <a class="navbar-brand" href="#">{{ user.get_username }}</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts_list'%}">Мои счета</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Движения по счетам</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Перевести деньги</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}?next=/accounts/login/">Выйти</a>
                  </li>
                </ul>
              </div>
            </nav>
          {% endblock %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
